/* colour scheme 
Midnight blue - #263E67
Blue- #0080F6
Gunmetal Grey - #8D918D
Orange - #FFCE75
*/

html {
  color: #FFCE75;
  background-color: #263e67;
}

a {
  color: #FFCE75;
  text-decoration: none;

}

a:hover {
  color: #8D918D;
}

.App {
  display: flex;
  flex-direction: column;

}

button {
  background-color: #263e67;
  color: #FFCE75;
  border-style: solid;
  border-width: 1px;
  border-color: #FFCE75;
  border-radius: 5px;
}

select {
  background-color: #263e67;
  color: #FFCE75;
  border-style: solid;
  border-color: #FFCE75;
  border-radius: 5px;
}

/* navbar component styling */
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walletLogo {
  height: 50px;
  width: 50px;
}

/* searchbar styling */
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* coin information styling */

.coinInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.coinImage {
  height: 30px;
  width: 30px;
  padding: 5px;

}

.coinDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.coinText {
  padding: 10px
}



/* modal window styling */
.coinModal_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coinModal_container {
  border-style: solid;
  border-width: 1px;
  border-color: #FFCE75;
  background-color: #263e67;
  padding: 10px;
}

.coinModal_content {
  display: flex;
  flex-direction: row;
}

/* footer styling */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}