/* colour scheme 
Midnight blue - #263E67
Blue- #0080F6
Gunmetal Grey - #8D918D
Orange - #FFCE75
*/

html {
  color: #FFCE75;
  background-color: #263e67;
}

a {
  color: #FFCE75;
  text-decoration: none;

}

a:hover {
  color: #8D918D;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar component styling */
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet_logo {
  height: 50px;
  width: 50px;
}

/* searchbar styling */
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* footer styling */